- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#heading-container
  #heading
    %h1 Hackspedition
    %h2 Weaving a global community of likeminded creators
    %p.tagline A hackspedition is the perfect excuse to travel to a remote place and connect with the local hacker community. Participants engage in technical collaboration and share other exploratory activities such as hikes, city visits or even white water rafting.

#content
  
  #upcoming
    %h2 Coming Soon
    %p 
      %strong
        %a{:href => '/tabasco'} Villahermosa, Mexico (TAB)
      %span - November 2 - November 6, 2011
    
  #previous  
    %h2 Previous Events
    %p
      %strong 
        %a{:href => '/nyc'} New York City (NYC)
      %span - September 15 - September 19, 2011
    %p
      %strong San Francisco Bay Area/Silicon Valley (SV)
      %span - June 24 - June 28, 2010
    %p
      %strong Mexico City (MEX)
      %span - August 28 - September, 2009

  #start

          