- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/index.css', :type => 'text/css'}
#content
  #header
    %h1 Hackspedition
    %p.tagline Make meaningful connections with interesting distant hackers
    %p.teaser Hackspeditions are long weekend expeditions designed to connect distant hacker communities. The event combines actual collaborative hacking with other unrelated activities such as hikes, city visits or rafting 
  #next
    %h3 Coming Soon
    %p
      %strong 
        %a{:href => '/nyc'} New York City (NYC)
      %span - September 15th to Sep 19th, 2011
    %p 
      %strong
        %a{:href => '/vha'} Villahermosa, Mexico (VHA)
      %span - November 3rd to 7th, 2011

  #start
    %h2 Start Your Own
    %p Hackspedition is an open framework. Yo can use it, adapt it and contribute to it.
    %p In our experience, the event works better if you follow the suggestions, however experimentation is completely welcome. Here we hand you some resources and some history that might be of some use.
    %p
      %span If you have further questions, please contact us at
      %a{:href => "mailto:lets.do.it@hackspedition.org"} lets.do.it@hackspedition.org
  #basics  
    %h2 Fundamental Principles
    %ul
      %li Hackspedition should be open and non-exclusive.
      %li There should be space and time to do some collaborative hacking.
      %li There should be leisure/adventure activities that have nothing to do with computers.
      %li The event should involve at least two communities from two different geographies.
  #guidelines  
    %h2 Suggestions
    %ol
      %li Organize a three to five day trip. One of the communities can host the other community
      %li Don't bother to  book hotel rooms. Ideally, guest hackers can borrow a couch or mattress from host hackers.  
      %li A welcome party is awesome. Reserve a small bar and go for a couple of drinks together the first night.
      %li Sightseeing is good, exploration is better. Most hackers are very curious people regardless the situation. Give them enough materials to make the experience as insightful as possible.
      %li Mix, mix, mix. The whole point of Hackspeditions is to cross-pollinate. Do whatever is necessary to beat language or interpersonal barriers.
      %li Mind about cultural differences. Take some time to discuss the agenda with people from both communities.
      %li Hack together. Try to have a SuperHappyDevHouse or similar event built into the event.
      %li Push your limits. People really get fond of each other when they live intense experiences together. Adventure activities such as rafting, hiking or canoeing are perfect to achieve this.
      %li Run a wrap up session. Make sure everybody is aware of the achievements made during the Hackspedition. Also make sure people have the means to stay in touch.
      %li Do. Learn. Share. Iterate.
  #history
    %h2 History
    %p 
      %span If you want to learn more about the first Hackspedition,
      %a{:href => "http://hackspedition.pbworks.com", :target => "blank"} please visit the wiki
          