- content_for :head do
  %link{:rel => 'stylesheet', :href => '/stylesheets/event.css', :type => 'text/css'}

#content
  #heading
    %h1 Villahermosa
    %p.name.vha 
      %span hackspedition
      %span> .vha
  #social
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="Join us in Villahermosa, Mexico for a weekend full of hacking and fun! #hxpn #vha" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=164622310272549&amp;href=http%3A%2F%2Fhackspedition.org%2Fvha&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>