@import 'reset', 'palette', 'fonts', 'mixins', 'forms'
 
body
  font-family: "Mako", sans-serif
  #content
    margin-top: 2em
    @include main-content(750px)
    
  h1
    font-family: "Lobster Two", cursive
    margin-bottom: 0.5em
    font-size: 5em
    color: $black
    letter-spacing: -0.05em
    
  h2
    font-family: "Mako", sans-serif
    font-weight: bold
    font-size: 2em
    letter-spacing: -0.05em
    color: $black
    margin-top: 1em
    margin-bottom: 0.5em
    
  ul
    list-style: circle outside
  ol
    list-style: decimal outside
  li, p
    line-height: 1.5
    margin-bottom: 1em
  a
    color: $brand
    text-decoration: none
    &:hover
      text-decoration: underline
#footer
  color: $gray
  text-align: center
  margin-top: 1em
  margin-bottom: 2em
  font-size: 0.8em
  
    
    