@import 'global'

#content
  h1
    margin-bottom: 0
  p.name
    font-size: 1.5em
    color: $gray
    margin: 0
    &.nyc
      margin-left: 14px
    &.vha
      margin-left: 28px
    span:last-child
      color: $brand
  
  #social
    margin: 1em 0
    background: $light_gray
    border: 1px solid darken($light_gray, 10%)
    padding: 1em 1em 0.5em
    iframe
      height: 25px !important
  
  #subscribe
    input.text
      width: 15em
      
    