@import 'global'

h1, h3
  text-align: center

#next
  text-align: center
  background-color: $contrast
  border: 1px solid darken($contrast, 30%)
  padding: 1em
  
  h3
    margin-bottom: 1em
  p
    margin-bottom: 0